body {
    background-color: #FFFFFF;
}

.place-cards {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.card {
    border: 1px solid #CCCCCC;
    background-color: azure;
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.card-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 10px 20px;
}

.card-top > Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-top > h1 {
    font-size: 1rem;
}

.card-bottom {
    margin: 10px 20px; 
}